Importing pandas library to load the dataset.

In [51]:
import pandas as pd
import os

Loading the Dataset

In [ ]:
bengaluru_weather_data = pd.read_excel("/content/drive/MyDrive/Log/open-meteo-13 (1).00N77.60E914m.xlsx")

Checking Headers

In [ ]:
bengaluru_weather_data.head()

,time,weathercode (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),sunrise (iso8601),sunset (iso8601),shortwave_radiation_sum (MJ/m²),precipitation_sum (mm),rain_sum (mm),snowfall_sum (cm),precipitation_hours (h),windspeed_10m_max (km/h),windgusts_10m_max (km/h),winddirection_10m_dominant (°),et0_fao_evapotranspiration (mm)
0,2019-01-14,2.0,28.1,13.6,20.354166,14.4,27.3,19.570837,2019-01-14 06:14:18,2019-01-14 17:42:49,22.26,0.0,0.0,0.0,0.0,13.7,29.5,73.240500,4.840001
1,2019-01-15,1.0,27.8,12.8,20.033333,12.6,25.0,17.800001,2019-01-15 06:14:30,2019-01-15 17:43:23,22.58,0.0,0.0,0.0,0.0,14.7,33.8,73.160400,5.350000
2,2019-01-16,1.0,27.7,12.9,20.049997,13.3,26.1,18.820833,2019-01-16 06:14:39,2019-01-16 17:43:55,22.89,0.0,0.0,0.0,0.0,13.1,32.8,89.417100,5.040000
3,2019-01-17,0.0,27.8,13.3,20.279165,14.7,27.2,20.079168,2019-01-17 06:14:46,2019-01-17 17:44:27,22.36,0.0,0.0,0.0,0.0,13.2,32.0,79.524414,4.760000
4,2019-01-18,3.0,27.9,15.3,20.766668,16.1,26.8,20.612501,2019-01-18 06:14:53,2019-01-18 17:44:58,22.32,0.0,0.0,0.0,0.0,13.8,33.5,81.812860,4.910000

Details about our columns

In [ ]:
bengaluru_weather_data.columns

Index(['time', 'weathercode (wmo code)', 'temperature_2m_max (°C)',
       'temperature_2m_min (°C)', 'temperature_2m_mean (°C)',
       'apparent_temperature_max (°C)', 'apparent_temperature_min (°C)',
       'apparent_temperature_mean (°C)', 'sunrise (iso8601)',
       'sunset (iso8601)', 'shortwave_radiation_sum (MJ/m²)',
       'precipitation_sum (mm)', 'rain_sum (mm)', 'snowfall_sum (cm)',
       'precipitation_hours (h)', 'windspeed_10m_max (km/h)',
       'windgusts_10m_max (km/h)', 'winddirection_10m_dominant (°)',
       'et0_fao_evapotranspiration (mm)'],
      dtype='object')

Information about our dataset

In [ ]:
bengaluru_weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1097 entries, 0 to 1096
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   time                             1097 non-null   datetime64[ns]
 1   weathercode (wmo code)           1097 non-null   float64
 2   temperature_2m_max (°C)          1097 non-null   float64
 3   temperature_2m_min (°C)          1097 non-null   float64
 4   temperature_2m_mean (°C)         1097 non-null   float64
 5   apparent_temperature_max (°C)    1097 non-null   float64
 6   apparent_temperature_min (°C)    1097 non-null   float64
 7   apparent_temperature_mean (°C)   1097 non-null   float64
 8   sunrise (iso8601)                1097 non-null   datetime64[ns]
 9   sunset (iso8601)                 1097 non-null   datetime64[ns]
 10  shortwave_radiation_sum (MJ/m²)  1097 non-null   float64
 11  precipitation_sum (mm)           1097 non-null   float64
 12  rain_sum (mm)                    1097 non-null   float64
 13  snowfall_sum (cm)                1097 non-null   float64
 14  precipitation_hours (h)          1097 non-null   float64
 15  windspeed_10m_max (km/h)         1097 non-null   float64
 16  windgusts_10m_max (km/h)         1097 non-null   float64
 17  winddirection_10m_dominant (°)   1097 non-null   float64
 18  et0_fao_evapotranspiration (mm)  1097 non-null   float64
dtypes: datetime64[ns](3), float64(16)
memory usage: 163.0 KB

Checking null values

In [ ]:
bengaluru_weather_data.isnull().sum()

time                               0
weathercode (wmo code)             0
temperature_2m_max (°C)            0
temperature_2m_min (°C)            0
temperature_2m_mean (°C)           0
apparent_temperature_max (°C)      0
apparent_temperature_min (°C)      0
apparent_temperature_mean (°C)     0
sunrise (iso8601)                  0
sunset (iso8601)                   0
shortwave_radiation_sum (MJ/m²)    0
precipitation_sum (mm)             0
rain_sum (mm)                      0
snowfall_sum (cm)                  0
precipitation_hours (h)            0
windspeed_10m_max (km/h)           0
windgusts_10m_max (km/h)           0
winddirection_10m_dominant (°)     0
et0_fao_evapotranspiration (mm)    0
dtype: int64

In [ ]:
# bengaluru_weather_data = bengaluru_weather_data.dropna()

In [ ]:
bengaluru_weather_data.columns

Index(['time', 'weathercode (wmo code)', 'temperature_2m_max (°C)',
       'temperature_2m_min (°C)', 'temperature_2m_mean (°C)',
       'apparent_temperature_max (°C)', 'apparent_temperature_min (°C)',
       'apparent_temperature_mean (°C)', 'sunrise (iso8601)',
       'sunset (iso8601)', 'shortwave_radiation_sum (MJ/m²)',
       'precipitation_sum (mm)', 'rain_sum (mm)', 'snowfall_sum (cm)',
       'precipitation_hours (h)', 'windspeed_10m_max (km/h)',
       'windgusts_10m_max (km/h)', 'winddirection_10m_dominant (°)',
       'et0_fao_evapotranspiration (mm)'],
      dtype='object')

Renaming the columns

In [ ]:
bengaluru_weather_data = bengaluru_weather_data.rename(columns = {'weathercode (wmo code)': 'weather_code', 'temperature_2m_max (°C)':'temperature_2m_max',
                                                       'temperature_2m_min (°C)':'temperature_2m_min', 'temperature_2m_mean (°C)':'temperature_2m_mean','rain_sum (mm)': 'rain_sum'} )

So, We've decided the target value to predict the rainfall

In [ ]:
target_value = bengaluru_weather_data['rain_sum']

In [ ]:
corr_plot = bengaluru_weather_data.corr()

In [ ]:
cor_target = abs(corr_plot["rain_sum"])

relevant_train_features = cor_target[cor_target>0.20]
relevant_train_features

weather_code                       0.549740
temperature_2m_max                 0.330313
temperature_2m_min                 0.221642
apparent_temperature_max (°C)      0.220716
shortwave_radiation_sum (MJ/m²)    0.476234
precipitation_sum (mm)             1.000000
rain_sum                           1.000000
precipitation_hours (h)            0.758433
winddirection_10m_dominant (°)     0.262956
et0_fao_evapotranspiration (mm)    0.469539
Name: rain_sum, dtype: float64

In [66]:
X = bengaluru_weather_data[['weather_code','temperature_2m_max','temperature_2m_min','apparent_temperature_max (°C)',
          'shortwave_radiation_sum (MJ/m²)','precipitation_hours (h)',
          'winddirection_10m_dominant (°)','et0_fao_evapotranspiration (mm)','et0_fao_evapotranspiration (mm)']]

y = bengaluru_weather_data['rain_sum']

**Importing the libraries for prediction**

In [67]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import warnings
warnings.filterwarnings('ignore')

In [68]:
y.value_counts()

0.000000     497
0.100000      34
0.200000      27
0.400000      19
0.500000      18
            ...
11.000000      1
10.200000      1
1.300000       1
5.700000       1
4.400001       1
Name: rain_sum, Length: 277, dtype: int64

We need to scale the data...

In [69]:
X = np.sqrt(X)

In [70]:
y = np.sqrt(y)

Spliting the Data into train and test set

In [71]:
X_train,X_test,y_train,y_test = train_test_split(X,y ,test_size = 0.25, random_state = 0)
print(X_train.shape)
X_test.shape

(822, 9)

(275, 9)

In [72]:
LR_M = LinearRegression().fit(X_train,y_train)

In [73]:
LR_M.score(X_train,y_train)

0.8413694541492438

In [74]:
# Predicted Train & Test values 
y_pred_train = LR_M.predict(X_train)
y_pred_test = LR_M.predict(X_test)

In [75]:
# Calculating Performance Metrics for train data

#  MSE
MSE = mean_squared_error((y_train), (y_pred_train))
# 2. RSME
RMSE = np.sqrt(MSE)
#3. MAE
MAE = mean_absolute_error((y_train), (y_pred_train))
# R2
R2 = r2_score((y_train), (y_pred_train))
# Adjusted R2
Adj_R2 = (1-(1-r2_score(y_train, y_pred_train))*((X_test.shape[0]-1)/(X_test.shape[0]-X_test.shape[1]-1)))
#--------------------------------------------------------------------------------------------------------
print('MSE :',MSE)
print('-'*10)
print("RMSE :",RMSE)
print('-'*10)
print('MAE :', MAE)
print('-'*10)
print('R2 :', R2)
print('-'*10)
print( 'Adjusted R2 :', Adj_R2)

MSE : 0.27220516334401645
----------
RMSE : 0.5217328467175671
----------
MAE : 0.3434501812273664
----------
R2 : 0.8413694541492438
----------
Adjusted R2 : 0.8359820016486521

In [76]:
# Making a dataset for comparing performance metrics later

dict1={'Model':'Linear regression ',
       'MAE':round((MAE),3),
       'MSE':round((MSE),3),
       'RMSE':round((RMSE),3),
       'R2':round((R2),3),
       'Adj_R2':round((Adj_R2 ),2)
       }
training_df=pd.DataFrame(dict1,index=[1])

In [77]:
# Calculating Performance Metrics for test data

# 1. MSE
MSE = mean_squared_error((y_test), (y_pred_test))
# 2. RSME
RMSE = np.sqrt(MSE)
#3. MAE
MAE = mean_absolute_error((y_test), (y_pred_test))
# R2
R2 = r2_score((y_test), (y_pred_test))
# Adjusted R2
Adj_R2 = (1-(1-r2_score(y_test, y_pred_test))*((X_test.shape[0]-1)/(X_test.shape[0]-X_test.shape[1]-1)))
#--------------------------------------------------------------------------------------------------------
print('MSE :',MSE)
print('-'*10)
print("RMSE :",RMSE)
print('-'*10)
print('MAE :', MAE)
print('-'*10)
print('R2 :', R2)
print('-'*10)
print( 'Adjusted R2 :', Adj_R2)

MSE : 0.46398723761083766
----------
RMSE : 0.6811660866564319
----------
MAE : 0.39301219349864125
----------
R2 : 0.8017962802052562
----------
Adjusted R2 : 0.7950648331178876

In [78]:
dict2={'Model':'Linear regression ',
       'MAE':round((MAE),3),
       'MSE':round((MSE),3),
       'RMSE':round((RMSE),3),
       'R2':round((R2),3),
       'Adj_R2':round((Adj_R2 ),2)
       }
test_df=pd.DataFrame(dict2,index=[1])

In [79]:
result=pd.concat([training_df,test_df],keys=['Training set','Test set'])
result

                             Model    MAE    MSE   RMSE     R2  Adj_R2
Training set 1  Linear regression   0.343  0.272  0.522  0.841    0.84
Test set     1  Linear regression   0.393  0.464  0.681  0.802    0.80